
<!DOCTYPE html>
<html>
 
<head>
    <title>Home Page</title>
     
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size:7em;
        }
    </style>
</head>
 
<body>
    <center>This is our home page.</center>
    <center><%= data.message %></center>
    <form action="/settings" method="GET">
        <button name="settings" type="submit">Settings</button>
    </form>
    <form action="/home" method="POST">
        <input name="writeContent" id="writecontent" type="text" placeholder="Write Content Here"><br>
        <label for="writeContent" text="username"></label>
        <button name="postContent" type="submit">Post Content</button>
    </form>
</body>
 
</html>   